In [1]:
!pwd

/Users/valencar/Dropbox/BigDataAnalytics/Alunos-UEPB-TopicosEspeciaisEmBancoDeDados-master/SVM

In [2]:
!ls /Users/valencar/Downloads/*.csv

/Users/valencar/Downloads/AAPL.csv

In [4]:
import pandas as pd
url = '/Users/valencar/Downloads/AAPL.csv'
df_apple = pd.read_csv(url)
df_apple.head()

         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.407747  117258400.0
1  1980-12-15  0.488839  0.488839  0.486607  0.486607   0.386473   43971200.0
2  1980-12-16  0.453125  0.453125  0.450893  0.450893   0.358108   26432000.0
3  1980-12-17  0.462054  0.464286  0.462054  0.462054   0.366972   21610400.0
4  1980-12-18  0.475446  0.477679  0.475446  0.475446   0.377609   18362400.0

In [6]:
df_apple.Open.min(),  df_apple.Open.mean(), df_apple.Open.max()

(0.19866099999999998, 30.112098983489606, 258.73999)

In [8]:
len(df_apple) / 320

30.665625

In [9]:
df_apple.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,9812.0,3.011210e+01,5.294754e+01,0.198661,1.062500e+00,1.705357e+00,2.999643e+01,2.587400e+02
High,9812.0,3.040144e+01,5.341227e+01,0.198661,1.085000e+00,1.741071e+00,3.028572e+01,2.624700e+02
Low,9812.0,2.981173e+01,5.248957e+01,0.196429,1.042344e+00,1.669643e+00,2.968429e+01,2.582800e+02
Close,9812.0,3.011466e+01,5.296757e+01,0.196429,1.066250e+00,1.711429e+00,2.994286e+01,2.622000e+02
Adj Close,9812.0,2.812372e+01,5.107753e+01,0.156008,9.136060e-01,1.450930e+00,2.605331e+01,2.622000e+02
Volume,9812.0,8.627163e+07,8.625159e+07,347200.000000,3.325198e+07,5.810420e+07,1.076744e+08,1.855410e+09